<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wycliffeassociates.recordingapp">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Recording.RecordingScreen" android:noHistory="true"/>
        <activity android:name=".Playback.PlaybackScreen" android:screenOrientation="landscape" android:noHistory="true"/>
        <activity android:name=".FilesPage.AudioFiles" />
        <activity android:name=".SettingsPage.Settings"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".FilesPage.ExportFiles" />
        <service android:name=".Recording.WavRecorder" />
        <service android:name=".Recording.WavFileWriter" />
        <activity android:name=".FilesPage.FTPActivity" android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".SettingsPage.connectivity.LanguageNamesRequest" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

    </application>

</manifest>
