<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wycliffeassociates.recordingapp">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ic_mic_white_48dp_133"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="wycliffeassociates.recordingapp.MainMenuListener"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CanvasScreen" android:screenOrientation="landscape"/>
        <activity android:name=".AudioFiles" android:screenOrientation="portrait" />
        <activity android:name=".Settings" android:screenOrientation="portrait"/>
        <service android:name=".WavRecorder" />
        <service android:name=".WavFileWriter" />
        <activity android:name=".FTPActivity" android:theme="@android:style/Theme.Holo.DialogWhenLarge"/>


    </application>

</manifest>
