<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wycliffeassociates.translationrecorder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".TranslationRecorderApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TR.NoActionBar"
        tools:replace="android:theme">

        <!-- Splash screen -->
        <activity
            android:name="org.wycliffeassociates.translationrecorder.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="locked">
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity android:name="org.wycliffeassociates.translationrecorder.MainMenu" />

        <!-- Other activities -->
        <activity
            android:name="org.wycliffeassociates.translationrecorder.Recording.RecordingActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />

        <activity android:name="org.wycliffeassociates.translationrecorder.Recording.PermissionsDeniedActivity" />

        <activity android:name="org.wycliffeassociates.translationrecorder.permissions.PermissionsDialogActivity"
            android:screenOrientation="portrait"
            />


        <activity
            android:name="org.wycliffeassociates.translationrecorder.Playback.PlaybackActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="org.wycliffeassociates.translationrecorder.SettingsPage.Settings"
            android:theme="@style/TR" />

        <activity android:name="org.wycliffeassociates.translationrecorder.ProjectManager.activities.ActivityProjectManager" />
        <activity android:name="org.wycliffeassociates.translationrecorder.ProjectManager.activities.ActivityChapterList" />
        <activity android:name="org.wycliffeassociates.translationrecorder.ProjectManager.activities.ActivityUnitList" />

        <activity android:name="org.wycliffeassociates.translationrecorder.project.SelectSourceDirectory">
            <intent-filter>
                <action android:name="org.wycliffeassociates.translationrecorder.SettingsPage.SELECT_SRC_INTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.wycliffeassociates.translationrecorder.DocumentationActivity">
            <intent-filter>
                <action android:name="org.wycliffeassociates.translationrecorder.DOCUMENTATION_INTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.wycliffeassociates.translationrecorder.project.SourceAudioActivity"
            android:theme="@style/TR" />
        <activity
            android:name="org.wycliffeassociates.translationrecorder.project.ProjectWizardActivity"
            android:theme="@style/TR" />

        <activity android:name="org.wycliffeassociates.translationrecorder.FilesPage.Export.FolderExport$StorageAccess" />
        <activity android:name="org.wycliffeassociates.translationrecorder.FilesPage.Export.AppExport$ShareZipToApps" />

        <activity android:name="com.door43.login.TermsOfUseActivity"
                  android:screenOrientation="locked" />
        <activity android:name="com.door43.login.legal.LegalDocumentActivity"
                  android:screenOrientation="locked" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.UserActivity" />

        <activity android:name="org.wycliffeassociates.translationrecorder.TestUtils.FragmentTestActivity" />


        <service android:name="org.wycliffeassociates.translationrecorder.Recording.WavRecorder" />
        <service android:name="org.wycliffeassociates.translationrecorder.Recording.WavFileWriter" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_path"/>
        </provider>

    </application>

</manifest>
